/* line 6, /Users/wellcaffeinated/Documents/github/minutelabs/Ball Pit/library/styles/site.scss */
html, body, #wrap-outer {
  height: 100%;
}

/* line 10, /Users/wellcaffeinated/Documents/github/minutelabs/Ball Pit/library/styles/site.scss */
#thanks {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 600px;
  margin-left: -320px;
  z-index: 1;
  background: #ededed;
  padding: 1em 2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 22, /Users/wellcaffeinated/Documents/github/minutelabs/Ball Pit/library/styles/site.scss */
#ball-pit {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  background: #1a1a1a;
}

/* line 31, /Users/wellcaffeinated/Documents/github/minutelabs/Ball Pit/library/styles/site.scss */
.pjs-circle {
  display: block;
  background: rgba(230, 100, 100, 0.9);
  background: url('../images/blank_avatar.png?1392925547') no-repeat 50% 50%;
  border: 2px solid gainsboro;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-size: 133%;
  -moz-background-size: 133%;
  -o-background-size: 133%;
  background-size: 133%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 41, /Users/wellcaffeinated/Documents/github/minutelabs/Ball Pit/library/styles/site.scss */
#replace {
  position: relative;
  display: inline-block;
  color: rgba(237, 237, 237, 0);
  font-weight: bold;
}
/* line 47, /Users/wellcaffeinated/Documents/github/minutelabs/Ball Pit/library/styles/site.scss */
#replace:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #1a1a1a;
}
